
  "global": {
    "db_host": "localhost",
    "db_user": "parts_admin",
    "db_database": "parts",
    "port": 9000,
    "base_address": "http://localhost:9000",
    "gmail_user": "deepbluepartsbot@gmail.com",
    "enable_wordpress_auth": false,
    "slack_enabled": false,
    "slack_api_token": "",
    "trello_enabled": false,
    "trello_public": "",
    "trello_member": "",
    "enable_ordering": false
    },
  "dev": {
    "db_password": "",
    "gmail_password": "",
    "members_url": ""
  },
  "prod": {
    "db_password": "",
    "gmail_password": "",
    "members_url": ""
  }
}
